@model Tuneage.Domain.Entities.Release

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Release</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReleaseId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearReleased" class="control-label"></label>
                <input asp-for="YearReleased" class="form-control" />
                <span asp-validation-for="YearReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleasedOn" class="control-label"></label>
                <input asp-for="ReleasedOn" class="form-control" />
                <span asp-validation-for="ReleasedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabelId" class="control-label"></label>
                <select asp-for="LabelId" class="form-control" asp-items="ViewBag.LabelId"></select>
                <span asp-validation-for="LabelId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsByVariousArtists" /> @Html.DisplayNameFor(model => model.IsByVariousArtists)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
